body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-flow: column;
    padding: 0%;
    margin: 0%;
}

.header {
    padding: 8px 15%;
    background-color: #1F2937;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

ul.headerlinks {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
    gap: 18px;
}

ul.headerlinks a, .introcard p {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 100px;
}

.logotext {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.hero {
    margin: 0%;
    padding: 80px 15% 140px 15%;
    background-color: #1F2937;
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    gap: 32px;
}

.introcard {
    display: flex;
    flex: 1 1 0;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 8px;
}

.introcard h1 {
    margin: 0px;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.introcard p {
    margin: 0px;
    font-size: 18px;
    font-weight: 100px;    
}

.introcard button {
    align-self: flex-start;
    max-height: 100px;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 4px 18px;
    display: inline-block;
    border-radius: 4px;
    border: 2px solid #3882F6;
    transition-duration: 0.1s;
}

.introcard button:hover {
    color:#3882F6;
    background-color: #F9FAF8;
}

.imagecard {
    align-self: stretch;
    height: auto;
    min-width: 50%;
    flex: 1 1 0;
    object-fit: cover;
}

.info {
    padding: 40px 15% 80px 15%;
    min-height: 360px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
    gap: 36px;
}

.info h1 {
    padding: 0px 0px;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.infoblock {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

.infocard {
    max-width: 158px;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    margin: 0px 1em;
}

.infocard .card {
    background-color: #E5E7EB;
    border-radius: 8px;
    border: 2px solid #3882F6;
    height: 150px;
    width: 150px;
    margin: 0px 0px;
}

.infocard .card img {
    border-radius: 6px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.infocard p {
    color: #1F2937;
    opacity: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin: 0px;
    transition-duration: 0.1s;
}

.infocard:hover p {
    opacity: 1;
    margin: 10px 0px;
}

.testimonial {
    padding: 60px 25%;
    background-color: #E5E7EB;
    display: flex;
    flex-flow: column nowrap;
}

.testimonial p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0px auto 0px 0px;
    padding: 0px;
}

.testimonial h1 {
    font-size: 28px;
    font-style: bold;
    color: #1F2937;
    margin: 12px 24px 0px auto;
    padding: 0px;
}

.signup {
    padding: 120px 15%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
}

.signup .prompt {
    width: 100%;
    padding: 24px 10%;
    border-radius: 8px;
    border-color: #3882F6;
    background-color: #3882F6;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.signup .prompt .textsection {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.textsection h1 {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin: 2px;
}

.textsection p {
    color: #F9FAF8;
    font-size: 18px;
    text-align: left;
    margin: 2px;
}

.signup .prompt button {
    align-self: flex-start;
    max-height: 100px;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 4px 18px;
    margin: auto 0px auto auto;
    display: inline-block;
    border-radius: 4px;
    border: 2px solid #F9FAF8;
    transition-duration: 0.1s;
}

.signup .prompt button:hover {
    color: #3882F6;
    background-color: #F9FAF8;
}

.footer {
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    color: #E5E7EB;
    background-color: #1F2937;
    padding: 18px;
}